@model IEnumerable<Visitas.Models.Visitass>

@{
    ViewBag.Title = "Index";
}

<center>
    <h2 class="blue">Visitas</h2>
</center>
@Messages.AlertMessages()

<div class="row">
    <div class="form-group">
        <div class="col-sm-6">
            <h3>Filtros de búsqueda</h3>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="form-group">
        <div class="col-sm-12">
            <form>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Fecha Inicial: </label>
                        <input type="date" id="visitasFecha1" name="visitasFecha1" class="form-control" value="01-01-2020" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Fecha Fin: </label>
                        <input type="date" id="visitasFecha2" name="visitasFecha2" class="form-control" value="01-01-2020" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <a href="#" onclick="visita.searchByFilter()" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Buscar Visitas
        </a>
    </div>
    <div class="col-sm-2">
        <a href="/Visita" class="btn btn-default">
            Limpiar <span class="glyphicon glyphicon-apple"></span>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="#" onclick="visitas.getModal('@Url.Action("Create")'); return false;" ;
           data-toggle="modal" data-target="#modal-container" class="btn btn-success">
            Nuevo <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</div>

<hr />

<div class="pagination" id="paginacion1"></div>
<div class="content"></div>
<div class="pagination" id="paginacion2"></div>

@*Con esto llamamos a una vista parcial*@
@*@Html.Partial("_List")*@

@Modal.GetModal("Visita", "visita.closeModal();")

<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/App_JS/visitas.js" type="text/javascript"></script>
<script src="~/App_JS/visita.js" type="text/javascript"></script>

@*Todo esto es para el SignalR*@
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
@*En caso se utilizará en varios niveles, lo de abajo se podría colocar en el Layout*@
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var visitaHub = $.connection.visitaHub;
        $.connection.hub.start().done(function () {
            console.log('connected to hub ...');
        });
    });
</script>