@model IEnumerable<Visitas.Models.CargosLaborales>

@{
    ViewBag.Title = "Index";
}

<center>
<h2 class="blue">Cargos Laborales</h2>
</center>
@Messages.AlertMessages()
<div class="izquierda">
    <p>
        @*no colocamos nada en el href, porque lo que hará es llamar un evento*@
        @*.getModal = lo que hace es activar en la pantalla el modal, y lo que va dentro del parentesis lo que hace es llamar a la accion*@
        <a href="#" onclick="visitas.getModal('@Url.Action("Create")'); return false;" ;
           data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
            Nuevo <span class="glyphicon glyphicon-plus"></span>
        </a>
    </p>
</div>


<div class="pagination"></div>
<div class="content"></div>
<div class="pagination"></div>

@Modal.GetModal("Cargo Laboral")

<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/App_JS/visitas.js" type="text/javascript"></script>
<script src="~/App_JS/cargolaboral.js" type="text/javascript"></script>